<footer class="navbar navbar-default navbar-fixed-bottom" style="margin-top: 100px;">
    <p class="text-center">
      <a href="https://github.com/livermorerhui/job1" target=_new><i class="fa fa-github" aria-hidden="true"></i></a>
      <br>Copyright ©2017 超体营
      <br>Design by 栩行
      <br>
      <br>
    </p>
</footer>

<!-- <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <footer class="container" style="margin-top: 100px;">
     <li><a href="#">Page 3</a></li> -->
